<%
  boardClassName ="
    bg-gradient-to-r from-violet-500 to-indigo-500 p-8
    rounded aspect-square justify-center items-center
    grid gap-6 grid-cols-#{@size} grid-rows-#{@size}
  "
  tileClassName = "
    shadow-sm hover:shadow-2xl rounded bg-black
    justify-self-center w-24 max-w-36 aspect-square
  "
%>

<!-- Store previously clicked tiles contents and it's functions -->
<div id="store--elements" data-controller="store"></div>

<%= content_tag(:div, data: {
      controller: "board",
      board_timer_outlet: "div#timer--elements",
      board_moves_outlet: "div#moves--elements",
      board_alert_outlet: "div#alert--elements",
      board_store_outlet: "div#store--elements",
      board_finished_result_value: @board_object,
      board_board_size_value: @board_size
    }
  ) do %>
    <%= content_tag(:div, class: boardClassName) do %>
      <% @board_size.times do |value| %>
        <%= content_tag(:div, class: tileClassName, data: {
            action: "click->board#flipTile"
          }
        ) do %>
          <img
            class="p-2 shadow-lg rounded align-middle h-full w-full justify-center items-center text-center flex"
            viewBox="0 0 20 20"
            src="https://upload.wikimedia.org/wikipedia/en/9/98/Blank_button.svg"
            alt="No Image"
            data-is-open="false"
            data-tile-index="<%= value %>"
          />
        <% end %>
      <% end %>
    <% end %>
<% end %>
