<section
  class="grid grid-rows-1 grid-cols-4 overflow-visible text-center"
  data-controller="settings",
  data-settings-default-level-value="<%= @default_level %>"
>
  <!-- Level  Selection -->
  <%= select_tag  'game_difficult_level',
                  options_for_select(@available_levels, @selected_level),
                  class: 'capitalize',
                  id: '',
                  multiple: false,
                  data: {
                    settings_target: 'difficultyLevel',
                    action: 'change->settings#setDifficultyLevel'
                  }
                  %>

  <div>Timer</div>
  <div>Game Counter</div>

  <!-- Reset Board -->
  <%= button_tag(type: 'button', data: { action: 'click->settings#resetBoard' }) do %>
    <p>Reset Board</p>
  <% end %>
</section>
