<div class="
    game-board
    flex flex-col items-center justify-center
    bg-fixed h-screen w-full
  "
  style="
    background-image: url('<%= @background_image_src %>')
  "
>
  <div class="grid grid-cols-1 gap-4">
    <%= content %>
  </div>
</div>
